.chessboard {
  margin: auto;
  border: 1px;
  border-style: solid;
  width: 642px;
  height: 642px;
}

.black {
  width: 80px;
  height: 80px;
  float: left;
  background-image: url("black-bg.png");
  text-align: center;
  padding-top: 20px;
  color: antiquewhite;
}

.white {
  width: 80px;
  height: 80px;
  float: left;
  background-image: url("white-bg.png");
  text-align: center;
  padding-top: 20px;
  color: black;
}

p {
  text-align: center;
}

.white-player-image {
  float: left;
}

.black-player-image {
  float: right;
}
