// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chessboard {
  margin: auto;
  border: 1px;
  border-style: solid;
  width: 642px;
  height: 642px;
}

.black {
  // border: 1px;
  // border-style: solid;
  width: 80px;
  height: 80px;
  float: left;
  background-image: url("black-bg.png");
  text-align: center;
  padding-top: 20px;
  color: antiquewhite;
}

.white {
  // border: 1px;
  // border-style: solid;
  width: 80px;
  height: 80px;
  float: left;
  background-image: url("white-bg.png");
  text-align: center;
  padding-top: 20px;
  color: black;
}

p {
  text-align: center;
}
