// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: auto;
  width: auto;
  background: url("chess_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page-text {
  color: white;
}